<form [formGroup]="form">
  <div class="container-xl py-3">
    <div class="mb-3">
      <button type="button" class="btn btn-outline-secondary" routerLink="">Назад</button>
    </div>
    <div class="row">
      <div class="col">
        <div class="row mb-1">
          <div class="col-4 pt-2">Фамилия</div>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="surname" [ngStyle]="{ display: !viewMode ? 'block' : 'none' }" [class.is-invalid]="form.controls.surname.invalid">
            <span class="pt-2" [ngStyle]="{ display: viewMode ? 'block' : 'none' }">{{ owner?.surname }}</span>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-4 pt-2">Имя</div>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="name" [ngStyle]="{ display: !viewMode ? 'block' : 'none' }" [class.is-invalid]="form.controls.name.invalid">
            <span class="pt-2" [ngStyle]="{ display: viewMode ? 'block' : 'none' }">{{ owner?.name }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4 pt-2">Отчество</div>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="patronymic" [ngStyle]="{ display: !viewMode ? 'block' : 'none' }" [class.is-invalid]="form.controls.patronymic.invalid">
            <span class="pt-2" [ngStyle]="{ display: viewMode ? 'block' : 'none' }">{{ owner?.patronymic }}</span>
          </div>
        </div>
      </div>
    </div>
    <h3>Автомобили</h3>
    <div class="container-xl">
      <div class="row mb-1">
        <div class="col-3 pe-0"><strong>Номер</strong></div>
        <div class="col-3 pe-0"><strong>Марка</strong></div>
        <div class="col-3 pe-0"><strong>Модель</strong></div>
        <div class="col-2 pe-0"><strong>Год</strong></div>
        <div class="col-1 pe-0">&nbsp;</div>
      </div>
      <app-car *ngFor="let car of owner.cars; let index = index" [index]="index" [viewMode]="viewMode" [data]="car" [carIdCheckData]="carIdCheck" (statusChange)="processCarStatus($event)" (deleteRequest)="deleteCar($event)"></app-car>
      <div class="pt-2 pb-3">
        <button type="button" class="btn btn-outline-primary" (click)="addCar()" [ngStyle]="{ display: !viewMode ? 'block' : 'none' }">Добавить</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary" (click)="saveData()" [ngStyle]="{ display: !viewMode ? 'block' : 'none' }" [disabled]="disableSave()">Сохранить</button>
      </div>
    </div>
  </div>
</form>
